#compiled C++ files
*.exe
*.out
*.o

#VS Code
.vscode/

#Build Folders
build/
bin/

#OS files
.DS_Store
Thumbs.db

#Downloaded / generated Dota 2 data
Phase2/TrustSystem/data/dota2_raw/
Phase2/TrustSystem/data/dota2_processed/
